.sidebar {
    margin: 20px;
    width: 15vw;
}

.sidebar h2 {
    text-align: left;
    margin-bottom: 0px;
}

.sidebar h1 {
    margin-bottom: 2px;
}

.sidebar .subTitle {
    padding: 0;
    margin-top:0;
}

.ms-TextField-wrapper {
    text-align: left;
}